In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("train.csv",index_col = 'date', parse_dates = True)
df_test = pd.read_csv("test.csv",index_col = 'date', parse_dates = True)

In [5]:
dfc = df.groupby(['product','date']).sum()/df.groupby(['date']).sum()

In [8]:
dfc

                                               row_id  num_sold
product                          date
Kaggle Advanced Techniques       2017-01-01  0.234043  0.277944
                                 2017-01-02  0.244755  0.280014
                                 2017-01-03  0.246862  0.291529
                                 2017-01-04  0.247761  0.282240
                                 2017-01-05  0.248260  0.283104
...                                               ...       ...
Kaggle for Kids: One Smart Goose 2020-12-27  0.250005  0.306537
                                 2020-12-28  0.250005  0.306332
                                 2020-12-29  0.250005  0.308699
                                 2020-12-30  0.250005  0.300929
                                 2020-12-31  0.250005  0.292525

[5844 rows x 2 columns]